@model Quanlydiem.Models.LOP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa không?</h3>

<div>
    <h4>LOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Khối</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoi)
        </dd>

        <dt>
           <label>Mã Giáo Viên</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGV)
        </dd>

        <dt>
           <label>Sĩ Số</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiSo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Lại", "Index")
        </div>
    }
</div>
